node_modules/

uploads/
/public/*
!/public/admin/
/public/admin/*
!/public/admin/frontend/
/public/admin/frontend/*
!/public/admin/frontend/assets/
/public/admin/frontend/assets/*
!/public/admin/frontend/assets/**

.adminjs
dist/
.env