/* Força a cor do texto nos <td> e <th> */
section table td,
section table th {
  color: #ffffff !important;
  background-color: #151515 !important;
  border: 1px solid #333 !important;
  padding: 8px;
}

/* Estilo base do corpo */
body {
  background-color: #151515 !important;
  color: #ffffff !important;
}
